<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SocialSync</title>
    <link rel="stylesheet" type="text/css" th:href="@{findEmail.css}">
    <script
      src="https://kit.fontawesome.com/2a09458275.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
	
	
    <main class="container">
      <h3>Change your password</h3>
      <form action="/changePassword" method="post">
        <div>
          <label for="">Enter your old password: </label
          ><input
            type="password"
            name="oldPassword"
            class="oldPassword"
            id="oldPassword"
            placeholder="Enter your old password"
            required
          />
        </div>
        <div>
          <label for="">Enter your new password: </label
          ><input
            type="password"
            name="newPassword"
            class="newPassword"
            id="newPassword"
            placeholder="Enter your new password"
            required
          />
        </div>
        <div>
          <label for="">Confirm your password: </label
          ><input
            type="password"
            name="confirmPassword"
            class="confirmPassword"
            id="confirmPassword"
            placeholder="Confirm your password"
            required
          />
        </div>
        <div>
          <input type="submit" value="Confirm" class="confirm" id="confirm" />
        </div>
      </form>
    </main>
  </body>
</html>
