<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SocialSync</title>
    <link rel="stylesheet" href="./resetPassword.css" />
    <script
      src="https://kit.fontawesome.com/2a09458275.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" th:href="@{resetPassword.css}">
  </head>
  <body>
    <main class="container">
      <h3>Reset Password</h3>
      <form action="/resetPassword" method="post">
        <div>
          <label for="">New Password: </label
          ><input
            type="password"
            name="newPassword"
            class="newPassword"
            id="newPassword"
            placeholder="Enter new password"
            required
          />
        </div>
        <div>
          <label for="">Confirm Password:</label
          ><input
            type="password"
            name="confirmPassword"
            class="cconfirmPassword"
            id="confirmPassword"
            placeholder="Confirm password"
            required
          />
        </div>
        <div>
          <input type="submit" value="Confirm" class="confirm" id="confirm" />
        </div>
      </form>
    </main>
    <div class="home">
      <a href=""><i class="fa-solid fa-house"></i>Home</a>
    </div>
  </body>
</html>
