@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")
	;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

.navbar {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	height: 60px;
	background-color: #1995ad; /* Updated to #1995AD */
	padding: 10px;
	font-size: 18px;
	color: #f1f1f2; /* Updated to #F1F1F2 */
	top:0;
	position: fixed;
}

.tabs {
	display: flex;
	gap: 30px;
	margin: auto;
	margin-right: 20px;
	font-size: 18px;
}

.logo {
	padding: 8px;
}

.logo a {
	text-decoration: none;
	padding: 5px;
	margin: auto;
}

.logo a:hover {
	border-radius: none;
	background-color: transparent;
}

a {
	font-size: 18px;
	text-decoration: none;
	color: #f1f1f2; /* Updated to #F1F1F2 */
	padding: 5px;
}

a:hover {
	border-radius: 6px;
	cursor: pointer;
	background-color: #a1d6e2; /* Updated to #A1D6E2 */
}

#profile-icon {
	border-radius: 6px;
}

.fa-user {
	margin-right: 5px;
}